*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.hero {
    background-color: #23424a;
    padding: 50px 0;
    color: white;
}
.hero__text {
    width: 50%;
}
h1 {
        font-size: 1.5em ;
    }
.button {
    display: inline-block;
    background: #38cfd9;
    color: black;
    font-weight: 700;
    border-radius: 30px;
    border-style: none;
    padding: 10px;
}
.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    
}
